*{
    background-color:powderblue;
    margin:0;
}

@font-face {
    font-family: 'titlefont';
    src: url('../assets/flower3.TTF');
}

.title{
    font-family: 'titlefont';
    font-size: 4rem;
    text-align: center;
    font-weight: 1000;
}

.descrip{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

.water{
    text-align: right;
    text-decoration: none;
    border: none;
    transition-duration: 1s;
}

.water:hover{
    transform: rotate(-90deg);
}

.footer{
    width: 100%;
}