*{
    margin:0;
}

body{
    background-color:powderblue;
}

@font-face {
    font-family: 'titlefont';
    src: url('../assets/flower3.TTF');
}

.title{
    font-family: 'titlefont';
    font-size: 5rem;
    text-align: center;
    font-weight: 1000;
    color: white;
}

.descrip{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-size:1.5rem;
}

.row{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.water{
    position: relative;
    
    transition-duration: 1s;
    margin: 40px;
    width: 100px;
}

.water:hover{
    transform: rotate(-90deg);
}

.footer{
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun{
    width: 6rem;
}

.tools{
    width: 10%;
    height: 30%;
    
}
.tools:hover{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(10); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(10); }
    100% { transform: translateY(-10px); }
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bee, .bee2{
    margin: 0px 0px 0px 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    animation: travelRoundTheBorder 10s linear infinite;
}

.butterfly, .butterfly2{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    animation: travelRoundTheBorder 20s linear infinite;
}

@keyframes travelRoundTheBorder {
  0% {
    bottom: 60%;
    right: 100%;
    transform: translate(50%, 50%);
  }
  
  50% {
    bottom: 50%;
    right: 0%;
    transform: translate(50%, 50%);
  }
  100%{
    bottom: 40%;
    right: 100%;
    transform: translate(50%, 50%);
  }
}